<main class="form-wrapper">
    <div class="container">
        <div class="row">
            <div class="col-md-7 col-lg-8 mx-auto">
                <h1 class="h3 mb-3 font-weight-normal">Add site</h1>
                <form #form="ngForm" (ngSubmit)="addSite(form)" class="" >
                    <div class="row">
                        <div class="col-sm-6">
                            <label for="siteName" class="sr-only">Website Name</label>
                            <input 
                            name="siteName" 
                            type="text" 
                            id="siteName"                      
                            class="form-control" 
                            placeholder="" 
                            required 
                            autofocus=""
                            ngModel
                            #inputsiteName="ngModel" >
                            <ng-container *ngIf="inputsiteName.touched">
                                <p class="error" *ngIf="form.submitted && inputsiteName.errors?.['required']">The field is required!</p>
                            </ng-container>
                        </div>
                        <div class="col-sm-6">
                            <label for="siteImg" class="sr-only">Website IMG Url</label>
                            <input 
                            name="siteImg" 
                            type="text" 
                            id="siteImg"                      
                            class="form-control" 
                            placeholder="" 
                            required 
                            autofocus=""
                            ngModel
                            #inputsiteImg="ngModel" >
                            <ng-container *ngIf="inputsiteImg.touched">
                                <p class="error" *ngIf="form.submitted && inputsiteImg.errors?.['required']">The field is required!</p>
                            </ng-container>
                        </div>
                        <div class="col-sm-6">
                            <label for="siteProdLink" class="sr-only">Production Link</label>
                            <input 
                            name="siteProdLink" 
                            type="text" 
                            id="siteProdLink"                      
                            class="form-control" 
                            placeholder="" 
                            required 
                            autofocus="" 
                            ngModel
                            #inputsiteProdLink="ngModel">
                            <ng-container *ngIf="inputsiteProdLink.touched">
                                <p class="error" *ngIf="form.submitted && inputsiteProdLink.errors?.['required']">The field is required!</p>
                            </ng-container>
                        </div>
                        <div class="col-sm-6">
                            <label for="siteDevLink" class="sr-only">Development Link</label>
                            <input 
                            name="siteDevLink" 
                            type="text" 
                            id="siteDevLink"                      
                            class="form-control" 
                            placeholder="" 
                            required 
                            autofocus="" 
                            ngModel
                            #inputsiteDevLink="ngModel">
                             <ng-container *ngIf="inputsiteDevLink.touched">
                                <p class="error" *ngIf="form.submitted && inputsiteDevLink.errors?.['required']">The field is required!</p>
                            </ng-container>
                        </div>
                        <div class="col-sm-6">
                            <label for="siteDevelopers" class="sr-only">Developers</label>
                            <input 
                            name="siteDevelopers" 
                            type="text" 
                            id="siteDevelopers"                      
                            class="form-control" 
                            placeholder="" 
                            required 
                            autofocus="" 
                            ngModel
                            #inputsiteDevelopers="ngModel">
                             <ng-container *ngIf="inputsiteDevelopers.touched">
                                <p class="error" *ngIf="form.submitted && inputsiteDevelopers.errors?.['required']">The field is required!</p>
                            </ng-container>
                        </div>
                        <div class="col-sm-6">
                            <label for="siteTasks" class="sr-only">Tasks</label>
                            <input 
                            name="siteTasks" 
                            type="text" 
                            id="siteTasks"                      
                            class="form-control" 
                            placeholder="" 
                            required 
                            autofocus="" 
                            ngModel
                            #inputsiteTasks="ngModel">
                            <ng-container *ngIf="inputsiteTasks.touched">
                                <p class="error" *ngIf="form.submitted && inputsiteTasks.errors?.['required']">The field is required!</p>
                            </ng-container>
                        </div>
                    </div>
                    <hr class="my-4">
                    <button class="w-100 btn btn-primary btn-lg" type="submit">Add Site</button>
                </form>
            </div>
        </div>

    </div>
</main>