<main class="frm-wrapper">
    <div class="container">
        <div class="row">
            <div class="col-md-7 col-lg-8 mx-auto">
                <h1 class="h3 mb-3 font-weight-normal">Edit task</h1>
                <form *ngIf="task" #form="ngForm" (ngSubmit)="updateTask(form)" class="" >
                    <div class="row">
                        <div class="col-sm-6">
                            <label for="taskSite" class="sr-only">Task Site</label>
                            <input 
                            name="taskSite" 
                            type="text" 
                            id="taskSite"                      
                            class="form-control" 
                            placeholder="" 
                            required 
                            autofocus=""
                            [(ngModel)]="task.taskSite" 
                            #inputtaskSite="ngModel" >
                            <ng-container *ngIf="inputtaskSite.touched">
                                <p class="error" *ngIf="inputtaskSite.errors?.['required']">Task is required!</p>
                            </ng-container>
                        </div>
                        
                        <div class="col-sm-6">
                            <label for="siteName" class="sr-only">Task Name</label>
                            <input 
                            name="taskName" 
                            type="text" 
                            id="taskName"                      
                            class="form-control" 
                            placeholder="" 
                            required 
                            autofocus=""
                            [(ngModel)]="task.taskName" 
                            #inputtaskName="ngModel" >
                        </div>
                        <div class="col-sm-6">
                            <label for="taskImg" class="sr-only">Task IMG Url</label>
                            <input 
                            name="taskImg" 
                            type="text" 
                            id="taskImg"                      
                            class="form-control" 
                            placeholder="" 
                            required 
                            autofocus=""
                            [(ngModel)]="task.taskImg" 
                            #inputtaskImg="ngModel" >
                        </div>
                        <div class="col-sm-6">
                            <label for="taskLink" class="sr-only">Task Link</label>
                            <input 
                            name="taskLink" 
                            type="text" 
                            id="taskLink"                      
                            class="form-control" 
                            placeholder="" 
                            required 
                            autofocus="" 
                            [(ngModel)]="task.taskLink" 
                            #inputtaskLink="ngModel">
                        </div>
                        <div class="col-sm-6">
                            <label for="taskDevelopers" class="sr-only">Developers</label>
                            <input 
                            name="taskDevelopers" 
                            type="text" 
                            id="taskDevelopers"                      
                            class="form-control" 
                            placeholder="" 
                            required 
                            autofocus="" 
                            [(ngModel)]="task.taskDevelopers" 
                            #inputtaskDevelopers="ngModel">
                        </div>
                    </div>
                    <hr class="my-4">
                    <button class="w-100 btn btn-primary btn-lg" type="submit">Edit Task</button>
                </form>
            </div>
        </div>

    </div>
</main>