<div class="container">
  <header class="d-flex flex-wrap align-items-center justify-content-center justify-content-md-between py-3 mb-4 border-bottom">
    <div class="col-md-3 mb-2 mb-md-0"></div>
    <ul class="nav col-12 col-md-auto mb-2 justify-content-center mb-md-0">
      <li>
        <a routerLink="/home" class="nav-link px-2">Home</a>
      </li>
      <li>
        <a routerLink="/sites" class="nav-link px-2">Sites</a>
      </li>
      <li *ngIf="isLoggedIn">
        <a routerLink="/add-site" class="nav-link px-2">Add site</a>
      </li>
      <li>
        <a routerLink="/tasks" class="nav-link px-2">Tasks</a>
      </li>
      <li *ngIf="isLoggedIn">
        <a routerLink="/add-task" class="nav-link px-2">Add Task</a>
      </li>
    </ul>

    <div *ngIf="!isLoggedIn" class="col-md-3 text-end">
      <a routerLink="/login" type="button" class="btn btn-outline-primary me-2">Login</a>
      <a routerLink="/register" type="button" class="btn btn-primary">Register</a>
    </div>

    <div *ngIf="isLoggedIn" class="col-md-3 text-end">
      <a routerLink="/profile" type="button" class="btn btn-outline-primary me-2">Profile</a>
      <a (click)="logout()" type="button" class="btn btn-primary">Logout</a>
    </div>
  </header>
</div>