<main class="form-wrapper">
    <div class="container">
        <div class="row">
            <div class="col-md-7 col-lg-8 mx-auto">
                <h1 class="h3 mb-3 font-weight-normal">Add task</h1>
                <form #form="ngForm" (ngSubmit)="addTask(form)" class="" >
                    <div class="row">
                        <div class="col-sm-6">
                            <label for="taskSite" class="sr-only">Task Site</label>
                            <input 
                            name="taskSite" 
                            type="text" 
                            id="taskSite"                      
                            class="form-control" 
                            placeholder="" 
                            required 
                            autofocus=""
                            ngModel
                            #inputtaskSite="ngModel" >
                        </div>
                        <div class="col-sm-6">
                            <label for="taskDate" class="sr-only">Task Date</label>
                            <input 
                            name="taskDate" 
                            type="text" 
                            id="taskDate"                      
                            class="form-control" 
                            placeholder="" 
                            required 
                            autofocus=""
                            ngModel
                            #inputtaskDate="ngModel" >
                        </div>
                        <div class="col-sm-6">
                            <label for="siteName" class="sr-only">Task Name</label>
                            <input 
                            name="taskName" 
                            type="text" 
                            id="taskName"                      
                            class="form-control" 
                            placeholder="" 
                            required 
                            autofocus=""
                            ngModel
                            #inputtaskName="ngModel" >
                        </div>
                        <div class="col-sm-6">
                            <label for="taskImg" class="sr-only">Task IMG Url</label>
                            <input 
                            name="taskImg" 
                            type="text" 
                            id="taskImg"                      
                            class="form-control" 
                            placeholder="" 
                            required 
                            autofocus=""
                            ngModel
                            #inputtaskImg="ngModel" >
                        </div>
                        <div class="col-sm-6">
                            <label for="taskLink" class="sr-only">Task Link</label>
                            <input 
                            name="taskLink" 
                            type="text" 
                            id="taskLink"                      
                            class="form-control" 
                            placeholder="" 
                            required 
                            autofocus="" 
                            ngModel
                            #inputtaskLink="ngModel">
                        </div>
                        <div class="col-sm-6">
                            <label for="taskDevelopers" class="sr-only">Developers</label>
                            <input 
                            name="taskDevelopers" 
                            type="text" 
                            id="taskDevelopers"                      
                            class="form-control" 
                            placeholder="" 
                            required 
                            autofocus="" 
                            ngModel
                            #inputtaskDevelopers="ngModel">
                        </div>                        
                    </div>
                    <hr class="my-4">
                    <button class="w-100 btn btn-primary btn-lg" type="submit">Add Task</button>
                </form>
            </div>
        </div>

    </div>
</main>
