<main class="container">
  <div class="row g-5">
    <div class="col-md-8">
      <div class="row row-cols-1 row-cols-lg-2 g-4">
        <div *ngFor="let site of sites" class="col">
          <div class="card shadow-sm">
            <img src="{{ site.siteImg}}" alt="{{ site.siteName}}">
            <div class="card-body">
              <h2>{{ site.siteName}}</h2>
              <ul>
                <li>Production: <a href="{{ site.siteProdLink}}" target="_blank">{{ site.siteProdLink }}</a>
                </li>
                <li>Developers: {{ site.siteDevelopers}}</li>
                <li>Tasks: {{ site.siteTasks }}</li>
              </ul>
              <div  *ngIf="isLoggedIn" class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <!-- <button type="button" class="btn btn-sm btn-outline-secondary">View</button> -->
                  <button type="button" class="btn btn-sm btn-outline-secondary">Edit</button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

    </div>

    <div class="col-md-4">
      <div class="position-sticky" style="top: 2rem;">
        <div>
          <h4 class="fst-italic">Recent tasks</h4>
          <ul class="list-unstyled">
            <li *ngFor="let task of tasks" >
              <a class="d-flex flex-column flex-lg-row gap-3 align-items-start align-items-lg-top py-3 link-body-emphasis text-decoration-none border-top" href="{{ task.taskLink}}">
                <img src="{{ task.taskImg }}" alt="{{ task.taskName}}">
                <div class="col-lg-8">
                  <h6 class="mb-0">{{ task.taskSite }}</h6>
                  <p>{{ task.taskName }}</p>
                  <small class="text-body-secondary">{{ task.taskDate }}</small>
                </div>
              </a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</main>